.not_found_container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    margin-bottom: 200px;
}
.not_found_image{
    width: 50%;
}
@media only screen and (max-width : 576px) {
    .not_found_image{
        width: 90%;
    }
}
@media only screen and (min-width : 577px) and (max-width : 991px){
    .not_found_image{
        width: 75%;
    }
}